body {
  background: #EEE;
}

#container { 
  background color: #FFF;
  width: 800 px
  margin-left: auto;
  margin-right: 
}

#header { 
  background color: #F8F6F5;
  color: white;
  align: left;
}
  

