body {
  background: #EEE;
}

container { 
  background color: #FFF;
  width: 800px
  margin-left: auto;
  margin-right: auto;
}

header { 
  background color: #F8F6F5;
  color: white;
  align: left;
}
  

